.backGround{
    /* border: 2px solid green; */
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.weatherBox{
    border: 2px solid purple;
    border-radius: 30px;
    background-color: rgb(244, 217, 243);
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    height: 34px;
    font-size: 18px;
    width: 450px;
    background-color:;
    border-radius: 8px;
    border: 1.5px solid black;
    /* color: white; */
    text-align: center;
}

button{
    height: 33px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    background-color: blueviolet;
    font-size: 18px;
}

.smallerBox{
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
    height: 160px;
    align-items: center;
    justify-content: space-around;
    margin-top: 17px;
}

#weatherReport{
   border: 0.5px solid black;
   border-radius: 8px;
   color: blueviolet;
   height: 34px;
   display: flex;
   width: 450px;
   justify-content: center;
   align-items: center;
}

@media (width <= 1024px){
    h1{
        font-size: 50px;
    }
    .weatherBox{
        width: 700px;
        height: 400px;
    }
    input{
        width: 550px;
        font-size: 30px;
        height: 50px;
    }
    button{
        width: 450px;
        height: 50px;
        font-size: 30px;
    }
    #weatherReport{
        width: 550px;
        height: 50px;
        font-size: 30px;
    }
    .smallerBox{
        height: 230px;
    }
}

@media (width <= 720px) {
    h1{
        font-size: 26px;
    }
    .weatherBox{
        width: 300px;
        height: 250px;
    }
    input{
        width: 220px;
        font-size: 16px;
    }
    button{
        width: 140px;
    }
    #weatherReport{
        width: 220px;
    }
}

@media (width <= 540px) {
    h1{
        font-size: 34px;
    }
    .weatherBox{
        width: 500px;
        height: 350px;
    }
    input{
        width: 400px;
        font-size: 25px;
    }
    button{
        width: 350px;
        font-size: 25px;
    }
    #weatherReport{
        width: 400px;
        font-size: 25px;
        height: 70px;
    }
}